.imagen {
  background-image: url(/app-asamblea/assets/images/fondo-login02.png);
/*  background-image: url(../../../assets/images/fondo-login02.png);*/
  background-repeat:no-repeat;
  background-size: 75vw;
}

.espacio {
  margin-top: 210px;
}

@media screen and (max-width: 700px){
  .espacio {
    margin-top: 100px;
  }
}
