<nav class="navbar fixed-top navbar-expand-lg navbar-light " style="background-color: #1F4E78;">
  <div class="container">
    <a class="navbar-brand"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-2">
          <a (click)="inicio()" class="nav-link text-white font-weight-bold pointer">Inicio</a>
        </li>
        <!--li *ngIf="usuario !== '' " class="nav-item mx-2"-->
        <li *ngIf="estadoUsuario()" class="nav-item mx-2">
          <a (click)="asamblea()" class="nav-link text-white pointer">{{usuario}}</a>
        </li>
        <li *ngIf="usuario !== '' && usuario !== 'invitado'" class="nav-item mx-2">
          <a (click)="cerrar()" class="nav-link text-white pointer">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<a routerLink="">
  <img *ngIf="ima1" class="logo fixed-top" src="/app-asamblea/assets/images/logo-am.jpeg" alt="Logo grupo Aval">
  <img *ngIf="ima2" class="logo2 fixed-top" src="/app-asamblea/assets/images/logo-am.jpeg" alt="Logo grupo Aval">
  <!--img class="logo fixed-top" src="../../../assets/images/logo-am.jpeg" alt="Logo grupo Aval"-->
</a>
<!--div *ngIf="estadoUsuario()"></div-->
