<div class="my-5">
  <div class="text-center" *ngIf="mensaje.estado">
    <div class="alert {{mensaje.color}}" role="alert">
      <h6>{{mensaje.mensaje}}</h6>
    </div>
  </div>
  <div *ngIf="preguntas === 'null' || preguntas === '' || preguntas === '0'; else siPreguntas">

  </div>
</div>
<ng-template #siPreguntas>
  <div class="card">
    <div class="card-body">
      <div *ngIf="preguntaMostrar.num !== '' ; else noPreguntas">
        <h5 class="text-secondary">Formulario de preguntas.</h5>
        <hr>
        <div *ngIf="preguntaResuelta !== preguntaMostrar.num; else noPreguntas">
          <h5 class="text-primary"><span>Pregunta {{preguntaMostrar.num}}. </span>{{preguntaMostrar.descripcion}}</h5>
          <div class="row">
            <div class="col-6 text-left font-weight-bold">Código de accionista</div>
            <div class="col-1">Si</div>
            <div class="col-2">No</div>
            <div class="col-3">Me abstengo</div>
          </div>
          <div class="row">
            <div class="col-6 text-left">
              <h6>Selección múltiple <span placement="top"
                  ngbTooltip="Selecciona aquí para decidir por todos los accionistas una sola respuesta."><i
                    class="far fa-question-circle fa-lg"></i></span></h6>
            </div>
            <div class="col-1">
              <div class="custom-control custom-radio">
                <input (change)="multipleSi()" type="radio" value="aprobado" id="si" name="multiple"
                  class="custom-control-input">
                <label class="custom-control-label" for="si"></label>
              </div>
            </div>
            <div class="col-2">
              <div class="custom-control custom-radio">
                <input (change)="multipleNo()" type="radio" value="no aprobado" id="no" name="multiple"
                  class="custom-control-input">
                <label class="custom-control-label" for="no"></label>
              </div>
            </div>
            <div class="col-3">
              <div class="custom-control custom-radio">
                <input (change)="multipleX()" type="radio" value="me abstengo" id="x" name="multiple"
                  class="custom-control-input">
                <label class="custom-control-label" for="x"></label>
              </div>
            </div>
          </div>
          <hr class="my-1">
          <!-- FOR ----------------------------------------------------------------------------------------------- -->
          <div *ngFor="let u of actionsAttorney; let in = index" class="row">
            <div class="col-6 text-left">
              {{u}}
            </div>
            <div class="col-1">
              <div class="custom-control custom-radio">
                <input [(ngModel)]="listaRespuestas[in]" type="radio" value="aprobado" id="{{u}}si" name="{{u}}"
                  class="custom-control-input">
                <label class="custom-control-label" for="{{u}}si"></label>
              </div>
            </div>
            <div class="col-2">
              <div class="custom-control custom-radio">
                <input [(ngModel)]="listaRespuestas[in]" type="radio" value="no aprobado" id="{{u}}no" name="{{u}}"
                  class="custom-control-input">
                <label class="custom-control-label" for="{{u}}no"></label>
              </div>
            </div>
            <div class="col-3">
              <div class="custom-control custom-radio">
                <input [(ngModel)]="listaRespuestas[in]" type="radio" value="me abstengo" id="{{u}}x" name="{{u}}"
                  class="custom-control-input">
                <label class="custom-control-label" for="{{u}}x"></label>
              </div>
            </div>
          </div>
          <div class="text-right mt-3">
            <button (click)="enviarRespuestas()" [disabled]="!botonRespuestas.estado" class="btn btn-primary">
              {{botonRespuestas.text}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #noPreguntas>
  <!--h5 class="text-primary">Aún no hay preguntas activas</h5-->
  <h6>Por favor espera hasta que el moderador las active.</h6>
</ng-template>
