<app-navbar></app-navbar>
<div *ngIf="pantalla === 'registro-apoderado'; else asamblea">
  <app-registro-apoderado></app-registro-apoderado>
  <app-footer></app-footer>
</div>
<ng-template #asamblea>
  <div *ngIf="pantalla === 'asamblea'; else control">
    <app-asamblea></app-asamblea>
    <app-footer></app-footer>
  </div>
</ng-template>
<ng-template #control>
  <div *ngIf="pantalla === 'control'; else login">
    <app-control></app-control>
    <app-footer></app-footer>
  </div>
</ng-template>
<ng-template #login>
  <app-login></app-login>
  <div class="fixed-bottom">
    <app-footer></app-footer>
  </div>
</ng-template>
<div *ngIf="estadoPantalla()"></div>
