<div class="imagen">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="col-xl-6 espacio">
        <div class="text-center">
          <div class="d-flex justify-content-center">
            <div class="bg-primary pt-1 col-6"></div>
          </div>
          <h4 class="font-weight-bold my-0">ASAMBLEA GRUPO AVAL</h4>
          <h6>Ingresa tus datos personales</h6>
        </div>
        <div class="text-center" *ngIf="mensaje.estado">
          <div class="alert {{mensaje.color}}" role="alert">
            <h6>{{mensaje.texto}}</h6>
          </div>
        </div>
        <div class="form-group row">
          <label for="tipoDocumento" class="col-xl-5 col-form-label h6">Tipo de documento</label>
          <div class="col-xl-7">
            <select (change)="valIngreso()" [(ngModel)]="documento.tipo" class="form-control" id="tipoDocumento">
              <option value="" disabled>Seleccione</option>
              <option *ngFor="let t of Datos.GetTiposDocumento()" value="{{t.id}}">{{t.nombre}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="documento" class="col-xl-5 col-form-label h6">Número de documento</label>
          <div class="col-xl-7">
            <input (keyup)="valDocumento()" [(ngModel)]="documento.numero" type="text" class="form-control"
              id="documento">
          </div>
        </div>
        <div class="form-group row">
          <label for="numAccionista" class="col-xl-5 col-form-label h6">Número de accionista</label>
          <div class="col-xl-7">
            <input (keyup)="valNumAccionista()" [(ngModel)]="numAccionista.numero" type="text" class="form-control"
              id="numAccionista">
          </div>
        </div>
        <div class="row">
          <div class="col-xl-5"></div>
          <div class="col-xl-7">
            <button (click)="ingresar()" [disabled]="!botonIngresar.estado"
              class="btn btn-primary px-5">{{botonIngresar.texto}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-5"></div>
