<div class="imagen">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="col-xl-6 espacio">
        <div class="text-center">
          <iframe class="rounded shadow-lg" width="560" height="315" src="https://www.youtube.com/embed/ZLWzGxwBAB0"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
            <div *ngIf="autoriza === 'true'">
              <app-preguntas></app-preguntas>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-5"></div>
