<div class="imagen">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="espacio">
        <div class="text-center">
          <!-- src="https://shares.enetres.net/live.php?source=CoreV1&v=508BEB0AB615426BBD31B50624B0D34502659" -->
          <iframe class="rounded shadow-lg" width="560" height="315"
          src="https://www.cdnclaroamx.com/claro.html?media=7HlfQYye&player=tz9GMLoi&p=e"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <div *ngIf="autoriza === 'true'">
            <app-preguntas></app-preguntas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-5"></div>
